.container_anim{
    position: relative;
    top: 35px;
}

.container_btn{
    position: relative;
    left: 130px;
}

.container_title{
    text-align: center;
    position: relative;
    margin-top: 10px;
}

