ion-title{
    position: relative;
    top: 100px;
}

.container_conectese{
    position: relative;
    top: 110px;
    left: 55px;
}

a{
    text-decoration: none;
}

.container_form{
    position: relative;
    top: 100px;
}

.container_password{
    color: rgb(255, 0, 0);
}

iom-item{
    margin-top: 50px;
}

.reset-password{
    position: relative;
    top: 50px;
}

.new-member{
    position: relative;
    top: 50px;
}

ion-input{
    border-bottom: rgb(179, 179, 179) solid 2px;
}

.icon_sigin{
    font-size: 40px;
    position: relative;
    top: 50px;
    left: -130px;
}