<ion-content [fullscreen]="true">
  <div>
    <ion-title class="container_title">¡Bienvenido!</ion-title>
    <p class="container_registrese">Registrese para Crear su Cuenta.</p>
  </div>

  <form class="container_form">
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Usuario"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Correo Elétronico"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div>
        <p>Ya Tienes una Cuenta? <a [routerLink]="['/login']">¡Loguese Ahora!</a></p>
      </div>
    </div>
    
  </form>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon  name="chevron-forward"></ion-icon> 
    </ion-fab-button>
  </ion-fab>
</ion-content>

