.container_form{
    position: relative;
    top: 100px;
}

.container_password{
    color: rgb(255, 0, 0);
}

.container_title{
    position: relative;
    top: 400px;
}

.container_title{
    position: relative;
    top: 100px;
}

.container_registrese{
    position: relative;
    top: 110px;
    left: 55px;
}

iom-item{
    margin-top: 50px;
}


ion-input{
    border-bottom: rgb(179, 179, 179) solid 2px;
}